/*
  Author: Monayem Hossain Limon
  GitHub: https://github.com/Limon00001
  Date: 17 May, 2025
  @copyright 2025 monayem_hossain_limon
*/

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Tailwind */
@import 'tailwindcss';

/* Global CSS */
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

/* html {
  scroll-padding-top: 5rem;
} */

@layer base {
  body {
    @apply bg-[url('/bg.jpeg')] bg-cover bg-no-repeat flex justify-center items-center h-screen text-white m-0 p-0;
  }
}

@layer utilities {
  .container {
    @apply w-[90vw] h-[90vh] bg-black/60 border border-white/10 rounded-xl backdrop-blur-md;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .message {
    @apply flex gap-5 max-w-[70%];
    &.own {
      @apply self-end;
      .ownText {
        @apply bg-teal-500/70 text-white;
      }
    }
  }

  /* Add to your existing CSS */
  .message-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 60%;
  }

  .image-container {
    position: relative;
    width: fit-content;
  }

  .image-container img {
    transition: transform 0.2s;
  }

  .image-container img:hover {
    transform: scale(1.02);
  }

  .message.own .message-content {
    align-items: flex-end;
  }

  .preview {
    opacity: 0.7;
  }
}
